$distribucion: flex;
$encimar: wrap;
$acomodar: space-around;
$centrar: center;
$degradado: rgb(202, 29, 29);
$fuenteUno: Verdana, Geneva, Tahoma, sans-serif;
$fuenteDos: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
$fuenteTres: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
$ancho: 100%;
$alto: 2vh;
$circular: 30%;
$icono: 2em;
$altoImg: 25em;
$anchoImg: 15em;
