@import "../variables/variables";
@import "../sass/media";
main {
  width: 100%;
  height: auto;

  span {
    h1 {
      border: 3px red solid;
      text-align: $centrar;
      font-size: 5em;
      font-family: $fuenteUno;
    }
  }

  div {
    width: $ancho;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: flexbox;
    text-align: center;
    justify-content: center;
    align-items: center;

    h2 {
      font-size: 3em;
      text-align: $centrar;
      font-family: $fuenteUno;
    }

    img {
      margin-left: auto;
      margin-right: auto;
      width: 35em;
      height: 25em;
    }

    p {
      font-family: $fuenteDos;
    }
  }

  @media (max-width: 500px) {
    img {
      width: 70px;
      height: 80px;
    }
  }
}
